.shadow {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

// Width Modules

@each $key, $size in $widths {
    .w-#{$key} {
        width: $size;
    }
    .h-#{$key} {
        height: $size;
    }
    .p-#{$key} {
        padding: $size;
    }
    .m-#{$key} {
        margin: $size;
    }
    @each $dirKey, $direction in $directions {
        .p#{$dirKey}-#{$key} {
            padding-#{$direction}: $size;
        }
        .m#{$dirKey}-#{$key} {
            margin-#{$direction}: $size;
        }
    }
}
