// Media Query Sizes
$breakpoints: (
  xs: 320px,
  sm: 600px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  uw: 2000px,
);

// Alignments
$align-v: left, right, center;
$align-h: top, bottom, middle;

// Text Sizes
$textSize: (
  h1: 40px,
  h2: 36px,
  h3: 30px,
  h4: 24px,
  h5: 18px,
  h6: 16px,
);

// Grid sizes
$gridMax: 12;
$gridGaps: 10px, 20px, 30px, 40px, 50px, 60px;

// Gutters
$gutter-sm: 10px;
$gutter-md: 15px;
$gutter-lg: 20px;
$gutter-xl: 30px;

// Widths

$widths: (
  1: 1px,
  5: 5px,
  10: 10px,
  20: 20px,
  25: 25px,
  50: 50px,
  75: 75px,
  100: 100px,
  150: 150px,
  200: 200px,
  250: 250px,
);

$directions: (
  l: left,
  r: right,
  t: top,
  b: bottom
);

$colors: (
  primary: #2897ff,
  secondary: #b8b8b8,
  warn: #ffc107,
  error: #dc3545,
  success: #28a745,
  black: #11050a,
  white: #fff,
  offWhite: #fbfaf8,
  grey: #312f2f,
  lightGrey: #ced4da
);
