* {
    box-sizing: border-box;
}

.debug {
    border: solid 1px red;
}

@import './variables';
@import './mixins/mediaQueries';

// Grid
@import './grid';

// Container
@import './container';

// Typography
@import './typography';

// Header
@import './header';

// Panels
@import './panel';

// Forms
@import './forms';

// Misc
@import './misc';

body {    
    padding:0;
    margin:0;
    background-color: map-get($colors, white);
}
